@using EntityLayer.Concrete
@model List<Category>
@{ Layout = "~/Views/Shared/_DashboardLayout.cshtml"; }
<div class="container mt-5">
    <table class="table table-bordered">
        <tr>            
            <th>Ad</th>
            <th>Açıklama</th>
            <th>Düzenle</th>
            <th>Ürünleri Listele</th>
        </tr>
        @foreach (var i in Model)
        {
<tr>    
    <td>@i.Name</td>
    <td>@i.Description</td>
    <td><a href="/category/edit/@i.Id">edit</a>    </td>
    <td><a href="/Product/GetlistbyCategoryId/@i.Id">Ürünleri Listele</a>    </td>
</tr>
}
    </table>
</div>
