@using EntityLayer.Concrete
@model Cart
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml"; }


<div class="container-fluid pt-5">


    @if (Model.cartLines.Count() <= 0)
    {
    <div class="container" style="text-align: center">

        <div>
            <img src="~/Uploads/cartEmpty.png" />
        </div>
        <div class="alert alert-danger" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            Sepetinizde hiçbir ürün bulunmamaktadır
        </div>
        <a href="/product" class="btn btn-primary">Ana Sayfaya Git</a>
    </div>
       
    }
    else
    {
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Ürünler</th>
                            <th>Fiyat</th>
                            <th>Adet</th>
                            <th>Toplam</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        @foreach (var item in Model.cartLines)
                        {
                            <tr>
                                <td class="align-middle"><img src="@item.product.ImageFile" alt="" style="width: 50px;"> @item.product.Name</td>
                                <td class="align-middle">$@item.product.UnitPrice</td>
                                <td class="align-middle">@item.quantity</td>
                                @{ var total = item.quantity * item.product.UnitPrice; }
                                <td class="align-middle">$@total</td>
                                <td class="align-middle"><a href="/Cart/RemoveFromCart/@item.product.Id" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Kupon Kodu">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Kupon kullan</button>
                        </div>
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Sepet Özeti</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Sepet Tutarı</h6>
                            <h6 class="font-weight-medium">$@ViewBag.total</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Kargo</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Toplam</h5>
                            @{ var totalPrice = ViewBag.total + 10; }
                            <h5 class="font-weight-bold">@totalPrice</h5>
                        </div>
                        <button class="btn btn-block btn-primary my-3 py-3">Ödemeye Geç</button>
                    </div>
                </div>
            </div>
        </div>
        }

</div>